@model MvcSoruCevap.Models.Entity.TBLCEVAP
@{
    ViewBag.Title = "CevapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("CevapGuncelle", "Cevap", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
    <div style="margin-bottom:15px">
        <label>CEVAP ID</label>
        @Html.TextBoxFor(c => c.ID, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>CEVAPLANACAK SORU</label>
        @Html.DropDownListFor(c => c.TBLSORU.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>CEVAP</label>
        @Html.TextBoxFor(c => c.CEVAP, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>SORUYU CEVAPLAYAN DOKTOR</label>
        @Html.DropDownListFor(c => c.TBLDOKTOR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>CEVAP EKLENME TARİHİ</label>
        @Html.TextBoxFor(c => c.EKLENMETARIHI, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
        <label>CEVAP DÜZENLENME TARİHİ</label>
        @Html.TextBoxFor(c => c.DUZENLEMETARIHI, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">
    </div>
   
    <button class="btn btn-warning">Güncelle</button>
</div>

}